.bannerContainer{
    position: relative;
    height: 392px;
    width: 100%;
    padding-left: 20px;
}
.bannerContainer .banners{
    display: inline-block;
    width: 392px;
    /*margin-right: 20px;*/
    height: 100%;
}
.bannerContainer .banners.banners2{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.bannerContainer .swiper-container {
    width: 100%;
    height: 100%;
}
